.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 2.5vh;
  display: flex;
  flex-direction: row; /* Changed from column to row */
  align-items: center;
  justify-content: space-between;
  font-size: calc(2.5px + 1vmin);
  color: white;
  padding: 0 20px; /* Add space at the start and end */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
